body {
  font-family: Arial, sans-serif;
  margin: 0;
}

nav {background:#222;
     padding: 12px;
    }

nav a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
}

main {
  padding:20px;
}
